<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
  <!-- Image and text -->
<div class="container-fluid">
  <nav class="navbar navbar-light ">
    
    <div class="col-6">
      <a class="navbar-brand" href="/">
        <img src="/static/images/web/png/colorfornav.png" width="100" height="145" class="d-inline-block align-top" alt="">
      </a>
    </div>
      <div class="navbar-nav">
        <div class="col">
          <button type="button" class="btn btn-outline-info" href="/login-form" id="logged">Login</button>
        </div>
        <div class="col">
          <button href="/add-user" id="registration" type="button" class="btn btn-outline-info">Sign Up</button>
        </div>
        <div class="col">
          <button href="/FAQ" id="faq" type="button" class="btn btn-outline-info">FAQ</button>
        </div>
      </div>
    </div>
    
  </nav>
</div>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'error' %}
      <div class="alert alert-danger" role="alert">
      {% else %}
      <div class="alert alert-success" role="alert">
      {% endif %}
      {{ message }}
    {% endfor %}
  
  {% endif %}
  {% endwith %}
  </div>
  </div>

  {% block content %}

  {% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
