{% extends 'base.html' %}
{% block content %}

      <div class="container-fluid">
        <div class="row" id="wallet_add">
          <div class="alert alert-danger d-none" role="alert" id="error_alert">
            <strong>Oh snap!</strong>You already entered that address!
          </div>
          <div>
            <form action="/wallet-processing" method="GET" id="wallet_add">
              Wallet Address : <input type="text" id="wallet_id" placeholder="ETH or BTC">
              Alias(optional) : <input type="text" id="alias" placeholder="Satoshi's wallet" value="">
              <input type="submit" value="Add wallet">
              <form action="/">
                <input type="submit" value="I'm finished" />
              </form>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-6 d-none" id="wallets_table">
        <div class="row">
            <div class="col-sm">
                <h2> Wallets Added </h2>
                <ol id="wallet_list"></ol>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-sm">
                <h2> Running Total in USD</h2>
                <h3>$ <span id="USD-SUM"></span></h3>
            </div>
            <div class="col-sm">
                <h2> Running Total in BTC</h2>
                <h3>BTC: <span id="BTC-SUM"></span></h3>
            </div>
            <div class="col-sm">
                <h2> Running Total in EUR</h2>
                <h3>€ <span id="EUR-SUM"></span></h3>
                <script console.log(runningUSDSum);></script>
            </div>
          </div>
        </div>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="coinsCanvas"></canvas>
        </div>
      </div>

      
      
    
  
<script src="/static/js/app.js" type="text/javascript"></script>
{% endblock %}