{% extends 'base.html' %}
{% block content %}

      <div class="container-fluid">
        <div id="wallet_add">
          <div>
            <form action="/wallet-processing" method="GET" id="wallet_add">
              Wallet Address : <input type="text" id="wallet_id">
              Alias(optional) : <input type="text" id="alias">
              <input type="submit" value="Add wallet">
              </form>
              <form action="/">
                <input type="submit" value="I'm finished" />
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-6 d-none" id="results_table">
        <div class="row">
            <div class="col-sm">
                <h2> Wallets Added </h2>
                <ol id="wallet_list"></ol>
            </div>
            <div class="col-sm">
                <h2> Unique Tokens </h2>
            <ol>
          
                <li>hi</li>
            
            </ol>
            </div>
            <div class="col-sm">
                <h2> Token Totals </h2>
            <ol>
            
                <li>cool</li>
          
  
            </ol>
            </div>
            <div class="col-sm">
                <h2> Conversion Rates </h2>
            <ol>
            
            <li>yes</li>
            
            </ol>
            </div>
        </div>
    </div>
    

{% endblock %}