{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Oh wow a website!</title>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div id="wallet_add">
            <div>
              <span><form action="/wallet-processing" method="GET">
                Wallet Address : <input type="text" name = "wallet_id">
                Alias(optional) : <input type="text" name = "alias">
                <input type="submit" value="Add wallet">
                </form></span>
        </div>
  </div>


{% endblock %}