{% extends 'base.html' %}
{% block content %}
  {% if session['logged_in'] == True %}
    <a href="/profile-page/{{session['userid']}}" id="userpage">My Profile</a>
    <a href="/logout" id="loggedout" tabindex="-1">Log Out</a>
    <script>document.getElementById("logged").style.display = 'none';</script>
    <script>document.getElementById("registration").style.display = 'none';</script>
  {% endif %}
   <hr>
  <div class="container">
    <h2>Welcome {{username}} !</h2>
      Email: {{email}}
      <button type="button" class="btn btn-primary" id="wallet_run">Update my total</button>
  </div>
<hr>
  <div class="container">
    <h3>Recently Entered Wallets</h3>

      <ol id="profile-wallets">

      </ol>
  </div>
  <div>
    
  </div>


<script src="/static/js/profiles.js" type="text/javascript"></script>
{% endblock %}