{% extends 'base.html' %}
{% block content %}
  {% if session['logged_in'] == True %}
    <a href="/profile-page/{{session['userid']}}" id="userpage">My Profile</a>
    <a href="/logout" id="loggedout" tabindex="-1">Log Out</a>
    <script>document.getElementById("logged").style.display = 'none';</script>
    <script>document.getElementById("registration").style.display = 'none';</script>
  {% endif %}
   <hr>
  <div class="container">
    <h2>Welcome {{username}} !</h2>
      Email: {{email}}
      <button type="button" class="btn btn-primary" id="wallet_run">Update my total</button>
  </div>
<hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <h3> My Portfolio Total in USD</h3>
          <h4>$ <span id="USD-SUM-PROFILE"></span></h4>
      </div>
      <div class="col-sm">
          <h3> My Portfolio Total in BTC</h3>
          <h4>BTC: <span id="BTC-SUM-PROFILE"></span></h4>
      </div>
      <div class="col-sm">
          <h3> Running Total in EUR</h3>
          <h4>€ <span id="EUR-SUM-PROFILE"></span></h4>
      </div>
    </div>
<hr>
    <div class="row">
      <div class="col-sm">
      <h3>My Saved Wallets</h3>

        <ol id="saved-wallets">

        </ol>
      </div>
      <div class="col-sm">
      <h3>Recently Entered Wallets</h3>

        <ol id="profile-wallets">

        </ol>
      </div>
      <script> window.onload = function() {
                runSavedWallets();
              };
      </script>
    </div>
  </div>


<script src="/static/js/profiles.js" type="text/javascript"></script>
{% endblock %}