{% extends 'base.html' %}
{% block content %}
{% if session['logged_in'] == True %}
    <a href="/profile-page/" id="userpage">My Profile</a>
    <a href="/logout" id="loggedout" tabindex="-1">Log Out</a>
    <script>document.getElementById("logged").style.display = 'none';</script>
    <script>document.getElementById("registration").style.display = 'none';</script>
    <hr>
  {% endif %}
    <div class="container-fluid">
    <h2>{{wallet_address}}</h2>
    

    </div>
    <script src='/static/js/wallet.js' type='text/javascript'></script>
    </div>

        

{% endblock %}